/*عرفت متغيرات للأوان عشام ما اقعد اكتبها كل مره واسهل لي من اني اروح اشوف كل عنصر وش لونه اروح عند الصفحه بفقا 
واقدر  اشوف الالوان الموجودة بالصفحه ووين بالظبط..*/
:root{
    --achievements: #002585;
    --bk: #FFFFFF;
    --sign-in: #001F7D;
    --shadow: #0000002a;
    --underLine: #01119E;
}

  /*هذي الخصائص تنطبق على كل شيء بالصفحه الا الي اغيره انا بعدين*/
  * {
    font-family: "Cairo", sans-serif;
    background-color: var(--bk);
    margin: 0;
    padding: 0;
    color: var(--textANDIcons);
  }


  /*الي هو الناف بار خليته ثابت وخليت فيه مسافه بين العناصر
  اثنين على الاطراف والديس بلاي خليتها فليكس عشان اقدر انظم بسهوله وعينت الماسفه حوالي العناصر داخل الناف بار*/
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bk);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13vh;  
    box-shadow: 0 5px 10px var(--shadow); /* حددت الظل */
    z-index: 3;
  }

  /*عينت النص بالمئه عشان يتناسب مع اختلاف احجام الشاشات وخليت النص بالوسط*/
  .nav-links-container {
    width: 80%;
    text-align: center;
    margin: 0 auto; 
  }

  .nav-links {
    list-style: none;/*عشان يشيل النقاط الي تجي مع القائمه العشوائه*/
    font-weight: normal; 
    font-size: 1.2rem; /*عشان حتى لو تغير حجم الشاشه تبقى */
    display: flex;/*يساعني بترتيب العناصر اسهلل*/
    justify-content: space-between;
  }
  .nav-links li {
    display: inline-block;/* جنب بعض الروابط لان كل رابط يمثل بلوك فا لو ما حطيتها بيصيرون تحت بعض*/
    margin: 1.1rem ; 
  }
  a {
    text-decoration: none;/*  الخط الازرق الي يجي تحت الروابط*/
  }
  .logo {
    width: 170px; 
  }
  .sign-in button {
    background-color: var(--sign-in);  /*استدعيت متغير اللون الي عرفته فوق*/
    color: var(--bk);
    border-radius: 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: pre;/*عشان يكون النص مثل ما هو مكتوب بالظبط*/
    margin-right: 10vw;
    padding: 0.8rem 1.8rem;
}
  .nav-item {
    position: relative;   /*عشان تصير هي المرجع بالنسبه للمقاسات في اللعناصر الي تحتوي على ابسيليوت */
  }

  .nav-link::after {  /*هنا استخدمتها عشان يكون كاضافه على العناصر*/
    position: absolute;  /*يعني خلك مرتبط باقرب ريلاتف لك بالنسبه للمقاسا من الاتجاهات الاربعه*/
    transition: all 0.2s;  /*يعني على كل خصائص العنصر طول عرض ظل الخ*/
    content: "";  /*مو انا قلت ان افتر هي تضزيد عل خصائص العنر؟ فهو يسأل وش النص الي تبينه ينضاف*/
    height: 0.5vh;  /* الفي اتش يعني تاخذ من طول الشاه وهذا بيساعد انه يخليه يتأقلم مع الاجهزه المختلفه*/
    width: 100%;
    background-color: var(--underLine);  /*مو حنا قلنا نبي ييضيف شيء؟ والي هو هذا */
    border-radius: 15px;
    bottom: -5px; /* يكون تحت النص */
    left: 0;
    opacity: 0;  /*هذي الشفافشه وهي هنا صفر لأنه ما نبهيا تطلع الا لما يصير شيء معين والي بنحدده تحت*/
    pointer-events: none;  /*حطينها نون لان ما نبيه يسوي فعل*/
  }
.nav-link:hover::after,
.nav-links:focus::after {  /* وهذا هو الشيء المعين هوفر يعني اذا حطيت المؤشر عليه, وفوكس من اسمه يعني اذا ركزت عليه*/
    opacity: 1;/*هنا قلت له يبان */
} 

.nav-link.current::after {   /*يعني العنصر الي انا فيه الحين خل الخط يطلع حتى لو ما اشرت عليه*/
    opacity: 1; /*الي الحين*/
}



.s1{  /*شرحت الفايربورت هاي والي هي تاخذ من طول الشاشه*/
  margin-top: 20vh;
  margin-bottom: 20vh;
}
.the-achievements{
  display: flex;  /*شرحته فوق*/
  justify-content: center;  /*هنا بدال ما اقول له خل شيئين عللى الطرف ووحاد بالنص او اقول حوطه بمساف هنا بقول له يحطها بالوسط*/
  align-items: center;
}
.names{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bolder;
}
.volunteer-hours{
  color: var(--achievements);
}
.beneficiary-charities{
  margin-right: 240px;
  color: var(--achievements);
  white-space: pre;  /*ابيك تحط النص مثل ما هو بنفس مسافته */
}
.volunteers{
  color: var(--achievements);
  margin-right: 220px;
}

.hours-contenr{
  height: 220px;
  width: 180px;
  box-shadow:   /*حطيت له ظل وعينت قيمه لكذا جهه*/
   0 4px 4px 0 var(--shadow),
  -4px 0 4px 0 var(--shadow),
   4px 0 4px 0 var(--shadow);
  border-radius: 15px; 
  background-color: var(--bk); 
  padding-right: 1vw;
  margin: 0 4vw;
  position: relative;  /*عشان نخليه هو المرجع لمقاسات كم شغله بعدين*/
  margin-right: 50px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-many-hours{
  font-size: 1.2rem;
  color: var(--achievements);
  position: absolute;
  top: 130px;
  right: 50px;
  text-align: center;
}

          /*هنا الكونتينرات مشابهه للي فوق بس اللهم غيرت المحتوى وكم شغله*/
      /*الباقي مشروح  فوق*/
/*الباقي مشروح  فوق*/
.charity-num-contenr{
  height: 220px;
  width: 180px;
  box-shadow: 
   0 4px 4px 0 var(--shadow),
  -4px 0 4px 0 var(--shadow),
   4px 0 4px 0 var(--shadow);
  border-radius: 15px; 
  background-color: var(--bk); 
  padding-right: 1vw;
  margin: 0 4vw;
  position: relative;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}
.hours,.num{
  height: 65px;
  position: absolute;
  top: 30px;
  right: 60px;
}
.how-many-charities{
  font-size: 1.2rem;
  color: var(--achievements);
  position: absolute;
  top: 130px;
  right: 20px;
  text-align: center;
}
               /*الباقي مشروح  فوق*/
        /*الباقي مشروح  فوق*//*الباقي مشروح فوق*/
      /*الباقي مشروح فوق*/
/*الباقي مشروح فوق*/
.volunteers-num{
  height: 220px;
  width: 180px;
  box-shadow: 
   0 4px 4px 0 var(--shadow),
  -4px 0 4px 0 var(--shadow),
   4px 0 4px 0 var(--shadow);
  border-radius: 15px; 
  background-color: var(--bk); 
  padding-right: 1vw;
  margin: 0 4vw;
  position: relative;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-many-volunteers{
  font-size: 1.2rem;
  color: var(--achievements);
  position: absolute;
  top: 130px;
  right: 20px;
  text-align: center;
}

      /*الباقي مشروح  فوق*/
/*الباقي مشروح  فوق*/
.s2{
  display: flex;
  justify-content: center;
  position: relative;
}
.most{
  font-size: 2rem;
  color: var(--achievements);
  position: absolute;
  right: 200px;
  z-index: 1;
}
.main-img{
  height: 90vh;
  position: absolute;
  top: 20px;  
}


      /*الباقي مشروح  فوق*/
/*الباقي مشروح  فوق*/

.line{
  background-color: var(--contenerANDregister-line);
  width: 100%;  /*عشان ياخذ عرض الشاشه كلها*/
  height: 130px;
  margin-top: 500px;
}
/*𝚍𝚘𝚗𝚎 𝚋𝚢 𝙳𝚊𝚗𝚊| (• ◡•)|*/
