/*عرفت متغيرات للأوان عشام ما اقعد اكتبها كل مره واسهل لي من اني اروح اشوف كل عنصر وش لونه اروح عند الصفحه بفقا 
واقدر  اشوف الالوان الموجودة بالصفحه ووين بالظبط..*/
:root {
    --textANDIcons: #000000;
    --bk: #FFFFFF;
    --sign-in: #001F7D;
    --achievements: #002585;
    --contenerANDregister-line: #264A99;
    --underLine: #01119E;
    --shadow: #0000002a;
  }
  /*هذي الخصائص تنطبق على كل شيء بالصفحه الا الي اغيره انا بعدين*/
  * {
    font-family: "Cairo", sans-serif;
    background-color: var(--bk);
    margin: 0;
    padding: 0;
    color: var(--textANDIcons);
  }
  /*الي هو الناف بار خليته ثابت وخليت فيه مسافه بين العناصر
  اثنين على الاطراف والديس بلاي خليتها فليكس عشان اقدر انظم بسهوله وعينت الماسفه حوالي العناصر داخل الناف بار*/
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bk);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13vh;  
    box-shadow: 0 5px 10px var(--shadow); /* حددت الظل */
    z-index: 3;
  }

  /*عينت النص بالمئه عشان يتناسب مع اختلاف احجام الشاشات وخليت النص بالوسط*/
  .nav-links-container {
    width: 80%;
    text-align: center;
    margin: 0 auto; 
  }

  .nav-links {
    list-style: none;/*عشان يشيل النقاط الي تجي مع القائمه العشوائه*/
    font-weight: normal; 
    font-size: 1.2rem; /*عشان حتى لو تغير حجم الشاشه تبقى */
    display: flex;/*يساعني بترتيب العناصر اسهلل*/
    justify-content: space-between;
  }
  .nav-links li {
    display: inline-block;/* جنب بعض الروابط لان كل رابط يمثل بلوك فا لو ما حطيتها بيصيرون تحت بعض*/
    margin: 1.1rem ; 
  }
  a {
    text-decoration: none;/*  الخط الازرق الي يجي تحت الروابط*/
  }
  .logo {
    width: 170px; 
  }
  .sign-in button {
    background-color: var(--sign-in);  /*استدعيت متغير اللون الي عرفته فوق*/
    color: var(--bk);
    border-radius: 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: pre;/*عشان يكون النص مثل ما هو مكتوب بالظبط*/
    margin-right: 10vw;
    padding: 0.8rem 1.8rem;
}
  .nav-item {
    position: relative;   /*عشان تصير هي المرجع بالنسبه للمقاسات في اللعناصر الي تحتوي على ابسيليوت */
  }

  .nav-link::after {  /*هنا استخدمتها عشان يكون كاضافه على العناصر*/
    position: absolute;  /*يعني خلك مرتبط باقرب ريلاتف لك بالنسبه للمقاسا من الاتجاهات الاربعه*/
    transition: all 0.2s;  /*يعني على كل خصائص العنصر طول عرض ظل الخ*/
    content: "";  /*مو انا قلت ان افتر هي تضزيد عل خصائص العنر؟ فهو يسأل وش النص الي تبينه ينضاف*/
    height: 0.5vh;  /* الفي اتش يعني تاخذ من طول الشاه وهذا بيساعد انه يخليه يتأقلم مع الاجهزه المختلفه*/
    width: 100%;
    background-color: var(--underLine);  /*مو حنا قلنا نبي ييضيف شيء؟ والي هو هذا */
    border-radius: 15px;
    bottom: -5px; /* يكون تحت النص */
    left: 0;
    opacity: 0;  /*هذي الشفافشه وهي هنا صفر لأنه ما نبهيا تطلع الا لما يصير شيء معين والي بنحدده تحت*/
    pointer-events: none;  /*حطينها نون لان ما نبيه يسوي فعل*/
  }
.nav-link:hover::after,
.nav-links:focus::after {  /* وهذا هو الشيء المعين هوفر يعني اذا حطيت المؤشر عليه, وفوكس من اسمه يعني اذا ركزت عليه*/
    opacity: 1;/*هنا قلت له يبان */
} 

.nav-link.current::after {   /*يعني العنصر الي انا فيه الحين خل الخط يطلع حتى لو ما اشرت عليه*/
    opacity: 1; /*الي الحين*/
}





.s1{
    display: flex; /*شرحته فوق*/
    align-items: center;
    justify-content: center;/*هنا بدال ما اقول له خل شيئين عللى الطرف ووحاد بالنص او اقول حوطه بمساف هنا بقول له يحطها بالوسط*/
}
.contener {
    background-color: var(--contenerANDregister-line);
    height: 100vh;
    width: 90vw; 
    border-radius: 20px;
    margin-bottom: 8vh;
    transform: translate(10vw, 5vh);
    position: relative; /*عشان نخليه هو المرجع لمقاسات كم شغله بعدين*/
    z-index: 1;  /*يحدد مين فوق ومين تحت*/
    display: flex;
    overflow:  hidden; /*الزايد وش تسوي فيه؟ غبيه*/
}
.main-text{
    position: absolute;
    top: 50%;
    margin-right: 13.5vw;
    z-index: 1;/*عشان يحدد لي الطبقات مين فوق ومين تحت الرقم الاكبر هو الاعلى*/
    transform: translateY(-50%);
    background-color: var(--contenerANDregister-line);
    text-align: center; 
    width: 40vw;
}
.contener strong{
    font-size: 3.12rem;
    background-color: inherit;   /*مالك علاقه بصفات الاب يعني لو كان لون خلفيه الاب حقك بيضاء مالك شغل فيه*/
    padding: 0%; 
    color: var(--bk);
}
.contener .main-text h3{
    background-color: inherit;
    color: var(--bk);
    font-size: 3rem;
    font-weight: 400;
}
.main-img {
    width: 30vw; 
    height: auto;
    margin-left: 12vw;
    margin-top: 10vh;
    z-index: 2;
}

                        /*الباقي مشروح فوق*/
                /*الباقي مشروح فوق*/
        /*الباقي مشروح فوق*/
/*الباقي مشروح فوق*/


.s2{
    margin-right: 1vw;
}
.about-the-charity {
    font-size: 1.5rem ;
    font-weight: bold;
}
.p1{
    font-size: 1.3rem;
    font-weight: 500;
    margin-right: 1.5vw;

}
.read-more{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--contenerANDregister-line);
    margin-right: 1.5vw;
}



.s3{
    margin-right: 1vw;
    margin-top: 100px; 

}

.courses{
    font-size: 1.5rem ;
    font-weight: bold;
    margin-bottom: 10vh;
 }
.the-courses {
    margin-top: 40px;
    display: flex;
    justify-content: first baseline; 
  }
  
@media screen and (max-height: 30vh) 
and (max-width:15vw){
    .course-1
    ,.course-2
    ,.course-3 {
        height: 25vh;
        width: 12.5vw;
    }
}/* عشان لا تتغير الشاشه الحجم ما يصير ثابت نفس ما هو وهنا حطيت حد أقصى للطول والعرض بحيث ما يتعداهم حتى لوشروح*/

.course-1
,.course-2
,.course-3 {
    height: 220px;
    width: 200px;
    box-shadow: 
     0 4px 4px 0 var(--shadow),
    -4px 0 4px 0 var(--shadow),
     4px 0 8px 0 var(--shadow);
    border-radius: 15px; 
    background-color: var(--bk); 
    padding-right: 1vw;
    margin: 0 2.5vw;
    position: relative;
    
}
                /*الباقي مشروح فوق*/
        /*الباقي مشروح فوق*/
/*الباقي مشروح فوق*/

.course-title h5{
    font-size: 1.8rem;  
    font-weight: bold;
    position: absolute;
    right: 1vw;
}
.description {
    font-size: 1rem;
    font-weight: 500;
    display: flex; 
    justify-content: center;
}
.line2, .line3 {
    position: absolute;
    top: 50px;
}

.online{
    font-size: 0.8rem;
    position: absolute;
    top: 25px;
    left: 60px;
    white-space: pre;
}
.time-text {
    position: absolute;
    top: 27px;
    right: 15px;
    white-space: pre;/*والي هي نفس الي html*/
}
.time-icon{
    height: 20px;
    position: absolute;
    top: 25px;
    left: 1px;
}

.date-text{
    position: absolute;     /*الباقي مشروح فوق*/
            /*الباقي مشروح فوق*/
    /*الباقي مشروح فوق*/
    top: 80px;
}
.date-icon{
    height: 30px;
    position: absolute;
    top: 75px;
    left: 1px;
}
                /*الباقي مشروح فوق*/
        /*الباقي مشروح فوق*/
/*الباقي مشروح فوق*/
.line3{
    position: absolute;
    right: 100px;
}
.material-symbols-outlined {
    color: var(--textANDIcons); 
}
.to-register-page {
    position: absolute;
    right: 0.5vw;
}
.register {
    background-color: var(--contenerANDregister-line);
    color: var(--bk);
    font-weight: bold;
    padding: 5px 65px; 
    border-radius: 20px; 
    font-size: 1rem; 
    position: absolute;
    top: 110px;
    right: 10px;
}
.the-courses {
    position: relative;
  }
.more-courses{
    height: 55px;
    width: 55px;
    position: absolute;
    top: 50px;
    right: 1000px;
    border-radius: 100%;
    background-color: var(--bk);
    box-shadow: 
    0 4px 4px 0 var(--shadow),
   -4px 0 4px 0 var(--shadow);
}
.more-courses h3{
    text-align: center;
    margin: 7px;
}






.the-achievements{
    display: flex;      /*الباقي مشروح فوق*/
            /*الباقي مشروح فوق*/
    /*الباقي مشروح فوق*/
    justify-content: first baseline;
    align-items: center;
  }
  .charity-achievements{
    font-size: 1.5rem ;
    font-weight: bold;
    margin: 200px 1vw 50px;
  }
  .names{
    display: flex;      /*الباقي مشروح فوق*/
            /*الباقي مشروح فوق*/
    /*الباقي مشروح فوق*/
    justify-content: first baseline;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bolder;
  }
  .volunteer-hours{
    margin-right: 100px;
    color: var(--achievements);
  }                         /*الباقي مشروح فوق*/
            /*الباقي مشروح فوق*/
/*الباقي مشروح فوق*/
  .beneficiary-charities{
    margin-right: 240px;
    color: var(--achievements);
    white-space: pre;
  }
.volunteers{
    color: var(--achievements);
    margin-right: 220px;
}

  .hours-contenr{
    height: 220px;
    width: 180px;
    box-shadow: 
     0 4px 4px 0 var(--shadow),
    -4px 0 4px 0 var(--shadow),
     4px 0 4px 0 var(--shadow);
    border-radius: 15px; 
    background-color: var(--bk); 
    padding-right: 1vw;
    margin: 0 4vw;
    position: relative;
    margin-right: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
                 /*الباقي مشروح فوق*/
        /*الباقي مشروح فوق*/
/*الباقي مشروح فوق*/
  .how-many-hours{
    font-size: 1.2rem;
    color: var(--achievements);
    position: absolute;
    top: 130px;
    right: 50px;
    text-align: center;
  }
  
  
  .charity-num-contenr{
    height: 220px;
    width: 180px;
    box-shadow: 
     0 4px 4px 0 var(--shadow),
    -4px 0 4px 0 var(--shadow),
     4px 0 4px 0 var(--shadow);
    border-radius: 15px; 
    background-color: var(--bk); 
    padding-right: 1vw;
    margin: 0 4vw;
    position: relative;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
  }
  .hours,.num{
    height: 65px;
    position: absolute;
    top: 30px;
    right: 60px;
  }
  .how-many-charities{
    font-size: 1.2rem;
    color: var(--achievements);
    position: absolute;
    top: 130px;
    right: 20px;
    text-align: center;
  }
                /*الباقي مشروح فوق*/
        /*الباقي مشروح فوق*/
/*الباقي مشروح فوق*/
  .volunteers-num{
    height: 220px;
    width: 180px;
    box-shadow: 
     0 4px 4px 0 var(--shadow),
    -4px 0 4px 0 var(--shadow),
     4px 0 4px 0 var(--shadow);
    border-radius: 15px; 
    background-color: var(--bk); 
    padding-right: 1vw;
    margin: 0 4vw;
    position: relative;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .how-many-volunteers{
    font-size: 1.2rem;
    color: var(--achievements);
    position: absolute;
    top: 130px;
    right: 20px;
    text-align: center;
  }

.line{
    background-color: var(--contenerANDregister-line);
    width: 100%;/* عشان يصير بنفس عرض الفحه دايم*/
    height: 130px;
    margin-top: 30vh;
}
/*𝔻𝕠𝕟𝕖 𝕓𝕪 𝔻𝕒𝕟𝕒 ʕ •́؈•̀ ₎*/
